* { margin: 0; padding: 0; }

body {
    background: #DDDDDD url(/static/images/sidebar_bg.png) 150pt repeat-y;
    font-size: 12.5px;
    font-family: sans-serif;
}

p {
    margin-bottom: 12pt;
}

a:hover {
    text-decoration:underline;
}
a {
    color:#534D8B;
    text-decoration:none;
}

.hide {
    position: absolute;
    left: -9001pt;       /* OVER 9000?! */
}

#content {
    padding: 10pt;
    margin-left: 150pt;
    margin-top: 70pt;
}

#sidebar {
    position: absolute;
    top: 70pt;
    width: 150pt;
    left: 0;
}

#sidebar h3 {
    background: #aaa;
    padding: 4pt 5pt;
    border-bottom: 1px solid black;
}

#sidebar li {
    border-top: 1px solid black;
}

#sidebar li li {
    border: none;
    list-style-type: none;
}

#sidebar ul ul {
    padding: 10pt;
}

#sidebar form {
    padding: 10pt;
    text-align: center;
}

#sidebar form input,
#sidebar form select {
    font-size: 14pt;
    width: 90%;
}

#sidebar form p {
    margin-bottom: 2pt;
}

#sidebar form .submit {
    width: auto;
    margin-top: 6pt;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70pt;
    background: #736DAB;
    border-bottom: 1px solid black;
}

#header h1 {
    color: #625C9A;
    font-size: 70pt;
    letter-spacing: -10pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th
{
    padding: 2pt;
}
tr .searchresultsheader,
thead tr th {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: left;
}

tr.searchresultseven,
tr.searchresultsodd,
tbody tr {
    border-bottom: 1px solid #aaa;
}

tr.searchresultsodd,
tbody tr.odd {
    background: #eee;
}

.entity_header {
    background: #F0EFFF url(/static/images/aicon_lg.png) no-repeat 7pt 10pt;
    border: 1px solid black;
    margin-bottom: 16pt;
}

.entity_header p {
    margin-bottom: 0;
}

.entity_header .information {
    margin: 10pt 10pt 3pt 50px;
}

.entity_header h1 {
    color: #777;
    font-size: 15pt;
    font-weight: normal;
}

.entity_header h1 a {
    text-decoration: none;
    color: black;
    font-size: 20pt;
}

.entity_header h1 a:hover {
    text-decoration: underline;
}

.entity_header .info_links {
    padding: 2pt 10pt;
}

.entity_header .edit_links {
    border-top: 1px solid black;
    background: #FFECD6;
    padding: 2pt 10pt;
}

.entity_header li {
    display: inline;
    list-style-type: none;
}

.artist_header {
    background: #FOEFFF 
}

#content h2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 12pt;
}

.release {
    border: 1px solid black;
}

.release h3 {
    background: #FFBA58;
    padding: 2pt 5pt;
    border-bottom: 1px solid black;
}

table.tracklisting .seq {
    width: 20pt;
    text-align: right;
    padding-right: 10pt;
}

table.tracklisting .artist {
    width: 200pt;
}

table.tracklisting .length,
table.discids .length {
    width: 70pt;
    text-align: center;
}