[%- WRAPPER "forms/form.tt" action=c.uri_for('/editor/login') -%]
    [% INCLUDE "forms/input.tt" field=forms.sidebar.login.username
        type='text' class="text" -%]
    [% INCLUDE "forms/input.tt" field=forms.sidebar.login.password
        type='password' class="text" -%]

    [% INCLUDE "forms/submit.tt" label="Login" %]
[% END %]

<ul>
    <li>[% quick_link('/user/register', 'Create account') %]</li>
    <li>[% quick_link('/user/forgot_password', 'Forgot Password') %]</li>
</ul>