<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>[%- title -%]</title>
<link type="text/css" rel="stylesheet" href="/static/default.css" />

</head>

<body>

<div id="content">
  [%- content -%]
</div>

<div id="sidebar">
  <ul>
    [%- INCLUDE 'layout/sidebar/search.tt' -%]
    [%- INCLUDE 'layout/sidebar/login.tt' UNLESS c.user_exists -%]
  </ul>
</div>

<div id="header">
  <h1>MusicBrainz</h1>
</div>

</body>
</html>