[%- MACRO pipe_list(links) BLOCK -%]
<div class="piped_list">
    <ul>
        [%- FOREACH link IN links -%]
        <li><a href="[% link.to %]">[% link.text %]</a></li>
        [%- END -%]
    </ul>
</div>
[%- END -%]